.DS_Store
node_modules
/dist
/static
/test/assets/

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/src/logs
*.log

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.nyc_output
/coverage/

/.history

# log 
/local_data 
/bin/nginx/logs/log

package-lock.json

# assets 
/public/chat/
/public/manage/
/public/movie5/
/public/moviet5/
/public/screen/
/public/manage-prev/
/public/movie5-prev/
/public/moviet5-prev/
/public/screen-prev/
/public/threejs-study-prev/
/public/threejs-study/
/public/create-chart-docs-prev/
/public/create-chart-docs/
