.DS_Store
node_modules
/dist
/static
/test/assets/

# local env files
.env
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/src/logs
*.log

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.nyc_output
/coverage/

/.history

# log 
/local_data 
/bin/nginx/logs/log

package-lock.json

# assets 
public/**
!public/api-docs/
!public/test/

deploy.config.json

/bin/mongodb/*
/bin/temp_mongo/*
